<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.web3.dao.MemberMapper">

	<!-- 회원 정보 저장 -->
	<insert id="insert" parameterType="Member">
		insert into web3_member (id, password, name) values (#{id}, #{password}, #{name}) 
	 	<!-- 오라클 명령어처럼 보이지만 그대로 쓰면 안되, 이건 마이바티스를 이용해서 사용하는 것이거덩
	 	;쓰면 안됨, #{} - 이거 마이바티스 기능, 파라메터타입의 멤버 클래스 객체로 받은거지. 그거의 멤버를 받은 것을 넣어줘야해?..? --> 
		<!-- 적어놨다가 오라클한테 보낸는 곳 -->
	</insert>
	
	<!-- ID로 회원 정보 삭제 -->
		<!-- String, int, list, map -->
	<delete id="delete" parameterType="String">
		delete from web3_member where id = #{id}
	</delete>
	
	<!-- ID로 회원 정보 조회 -->
	<!-- 리저트 타입은 보통 vo클래스의 이름으로 올거야
	테이블의 결과과 멤버로 들어온다는 말인가? 값들을 다 가지고 있는 타입(멤버)으로 받아서 준다는 것이구나! 아하 
	아이디를 검색했는데 이름이랑 아이디 비밀번호 모두를 가지고 왔잖아 
	
	변수가 컬럼의 값으로 변환하는 것을 마이바티스가 해주는 것이고 그 값들을 한번에 받는 것이 멤버인데 그걸 한방에 받을 수 있게 해주는 것이 마이바티스 인것이 맞게 이해한걸까요!?
	컬럼명이 자바의 변수가 되는 것이니까 나중에는 컬럼의 이름이 자바에서 활용가능한 것이 되게 미리 생각해야하는 거야
	*리저트 타입의 변수들이 테이블의 컬럼명과 이름이 같은지 확인해야해-->
	<select id="select" parameterType="string" resultType="Member">
		select * from web3_member where id = #{id}
	</select>
	
	<!-- 모든 회원정보 조회 -->
	<!-- 리저트타입은 한 행당 어떤 타입인지를 적어주는 것이야 <>인데여러개 인데 그냥 member면 의문을 가졌어야하는 것이지
	한행이랑 여러행이 나오는 것인데 똑같은게 이상했을거 아니야  -->
	<select id="list" resultType="Member">
		<!-- 정렬은 가능하면 디비에서 해서 가지고 오쟈 자바에서 하면 속도가 많이 달라..-->
		select * from web3_member order by id
	</select>
	
</mapper>
