<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.blog.dao.MemberMapper">

	<insert id="insertMember" parameterType="MemberVO">
		insert into blog_member	(
			id
			, password
			, name
			, photo
		)
		values (
			#{id}
			, #{password}
			, #{name}
			, #{photo}
			
		<!-- , jdbcType=VARCHAR -->
		)
	</insert>

	<select id="getMember" parameterType="string" resultType="MemberVO">
		select * from blog_member where id = #{id}
	</select>
	
	<select id="listMember" resultType="MemberVO">
		select * from blog_member order by id
	</select>

</mapper>
